* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Open Sans;
  font-size: 18px;
  line-height: 28px;
  background: url("../assets/img/seabottom.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  background-color: #687273;
  overflow-x: hidden;
  overflow-y: hidden;
}

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    padding: 5px 0;
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: right;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin: 0 10px;
  }
  
  .nav-link,
  .nav-link:visited {
    text-decoration: none;
    color: #dfdfdf;
    font-size: 18px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
  }
  
  .nav-link:hover {
    background-color: #1e2a3a;
    color: #fff;
    border-radius: 5px;
  }

  h1 {
    letter-spacing: -1px; 
    font-family: Open Sans;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 800;
    line-height: 60px;
    margin-bottom: 100px;
    text-shadow: 2px 7px 3px rgba(0, 0, 0, 0.5); 
    position: absolute;
    background: url("../assets/img/drops.jpg") no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .btn {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 600;
    justify-content: center;
    line-height: 0;
    margin-top: 7rem;
    padding: calc(.875rem - 0.5px) calc(1.5rem - 0.5px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .btn:hover,
  .btn:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
  }
  
  .btn:hover {
    transform: translateY(-1px);
  }
  
  .btn:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }
  
  .MainContainer {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .ContentContainer{
    position: relative;
    display: flex;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 1;
  }
  .ContentContainer:last-child {
    margin-bottom: 150px; 
  }
  .Content {
    max-width: 850px;
    margin: 0 auto;
    padding: 30px 0;
  }
  .graph {
    margin-left: 50px;
  }
  .ImgContainer{
    position: relative;
    display: flex;
    margin: -10px -300px 0 -600px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 1;
  }
  .ContentImg {
    max-width: 650px;
    margin: 0 0;
  }
  p, ol {
    margin: 30px 0;
    text-align: justify;
  }
  h4 {
    padding-bottom: 10px;
  }

  .bg-1{
    background-color: #adff2f;
  }
  .bg-2{
    background-color: #ffff00;
  }
  .bg-3{
    text-decoration: underline #bfd5ff;
    font-weight: bold;
  }
  .bg-4{
    text-decoration: underline #f51212;
    font-weight: bold;
  }
  .bg-5{
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #008000;
    font-weight: bold;
  }
  .Container {
    display: flex;
    flex: 1 0 auto;
    position: relative;
    height: 60vh;
    justify-content: center;
    align-items: center;
    transform: translateZ(0);
  }
  .row {
    display: flex;  
    flex-direction: row;
    column-gap: 0.5em;
  }
  .slide {
    max-width: 100%;
    display: block;
    height: 100%;
    margin: 0 0;
    border: 1px solid #555;    
    border-radius: 10px;
    animation: moveToLeft 40s infinite linear;
    animation-delay: 1000ms;
  }
  @keyframes moveToLeft {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(300px);
    }
  }
  .illustration {
    width: 30%;
    margin-left: -16rem;
  }
  iframe {
    width: 700px; 
    margin-left: 5vw;
    margin-right: auto; 
  }
  #section6 {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px;
  }
  
  .column {
    flex: 1;
    padding: 5px;
  }
  
  .main-column {
    width: 70%;
  }
  
  .contact-column {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social-icons li {
    margin: 0 5px;
  }
  
  .social-icons a {
    color: #1e2a3a;
    font-size: 20px;
  }
  
  footer {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; 
}

.footer-content {
    width: 100%;
    padding: 5px;
    text-align: center;
    color: white;
    font-size: 14px;
}

  @media only screen and (max-width: 768px) {
    main {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 30px;
    }
    .btn {
      margin-top: 18rem;
    }
    h1 {
      letter-spacing: -1px; 
      font-family: Open Sans;
      color: white;
      text-align: center;
      justify-content: center;
      font-size: 36px;
      font-weight: 600;
      line-height: 45px;
      margin-bottom: 40px;
      text-shadow: 2px 7px 3px rgba(0, 0, 0, 0.5); 
      position: absolute;
      background: url("../assets/img/drops.jpg") no-repeat;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
    .navbar-nav {
      list-style: none;
      display: flex;
      justify-content: right;
      align-items: right;
      margin: 0;
      padding: 0;
    }
    .nav-item {
      margin: 0 2px;
    }
    .nav-link,
    .nav-link:visited {
    text-decoration: none;
    color: #dfdfdf;
    font-size: 14px; 
    transition: background-color 0.3s ease;
  }
    .ContentContainer{
      position: relative;
      display: flex;
      border-radius: 5px;
      margin: 25vh 2vh;
    }
    .Content {
      margin: 0 auto;
      padding: 0.8em;
    }
    p, ol {
      margin: 20px 10px;
      text-align: justify;
    }
    iframe{    
      width: 80%;
    }
    .illustration {
      width: 40%;
      height: 40%;
      margin: 25vh 0.5vw;
    }
    .photo{
      width: 20%;
    }
    .graph {
      width: 85%;
      margin-left: 10%;
    }
   
  }

  